div.message_bar {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    font-size: 18px;
    text-align: center;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 100;
    
    /* Default */
    background-color: #afafaf;
    border-color: #7f7f7f;
    color: #000000;
}

div.msg_bar_status_bad {
    background-color: #ffcfcf;
    border-color: #7f0000;
    color: #300000;
    
}

div.msg_bar_status_good {
    background-color: #afffaf;
    border-color: #007f00;
    color: #005f00;
}