/* STYLESHEET FOR CTRL ADMINISTRATION */

@import "reset.css";

h1, h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

p {
    margin-bottom: 10px;
}

div#wrapper {
    margin: 0 auto;
    width: 1000px;
}

div#content {
    padding: 20px 0px;
    width: 765px;
    float: left;
    font: 12px arial;
}

ul#menu {
    float: right;
    width: 200px;
    background-color: #efefef;
    min-height: 50px;
    list-style-type: none;
    padding: 25px 15px 50px 15px;
}
ul#menu > li {
    font: 16px arial;
    margin-bottom: 15px;
}
ul#menu > li > img {
    float: right;
}
ul#menu > li > a {
    font: 14px arial;
    display: block;
    padding: 5px;
}
ul#menu > li > a:hover {
    background-color: #dfdfdf;
}

input[type="text"], input[type="password"], select {
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #afafaf;
}

input[type="submit"], input[type="button"] {
    float: left;
    margin: 0px 10px 10px 0px;
    background-color: #efefef;
    border-width: 1px;
    border-style: solid;
    border-color: #cfcfcf #7f7f7f #7f7f7f #cfcfcf;
}

div.qmi_component {
    margin-bottom: 8px;
}

form {
    margin: 10px 0;
}

textarea {
    width: 100%;
}
